:root {
  --white: #ffffff;
  --black: #101010;
  --black-light: #232323;
  --gray: #868686;
  --gray-light: #F3F3F3;
  --gray-hover: #E8E8E8;
  --green-light: #9EFFBF;
  --purple: #7941A7;
  --pink: #E2BEFF;
  --blue: #1059C8;
}
